<h1>Header intro</h1>
<div class="row">
  <div class="col-12  pt-3" >{{introText}}</div>
</div>

<h3 class="mt-4">Maxed table</h3>
<general-table  [columns]="columns"
                [buttons]="buttons"
                [data]="data"
                [filter]="true"
                [filterPlaceholder]="'Filter any value'"
                [footer]="footer" 
                [pagination]="[5, 25, 100]"
                [pageSize]="5"
                [tableMinWidth]="400"
                (filteredData)="applyFilter($event)"
                (buttonClick)="buttonClick($event)">
                <!-- columns: required,
                     data: required
                     filter: not required, if null => no filter
                     filterPlaceholder: not required, if null => 'Filter'
                     footer: not required, if null => no footer
                     pagination: not required, if null => 50 items per page
                     pageSize: not required, if null => min size of pagination
                     tableMinWidth: not required, if null => 500px is the default  value
                     filteredData: not required, passes the filter back
                     buttonClick: not required, passes a action an payload in a string array back to the app.component
                  -->
</general-table>

<h3 class="py-2 mt-4">Minimalist table</h3>

<general-table  [columns]="columns"
                [data]="data">
</general-table>

