
  <mat-form-field *ngIf="filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{filterPlaceholder}}">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort [ngStyle]="{ 'min-width': + tableMinWidth + 'px' }">

      <ng-container *ngFor="let column of columns" >
        <ng-container matColumnDef="{{column.columnDef}}">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.header }}</th>
          <td mat-cell *matCellDef="let row">{{ column.cell(row) }}</td>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="buttons.length > 0" >
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{ 'min-width': 'calc(55px * ' + buttons.length + ')' }">
            <div class="btn-group"  *ngFor="let button of buttons" >
              <button class="{{button.styleClass}}" (click)="this.buttonClick.emit([button.action, button.payload(row)])">
                <mat-icon>{{ button.icon }}</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
      </ng-container>

      <!-- Disclaimer column - with nullable approach -->
      <ng-container matColumnDef="disclaimer" *ngIf="footer"> 
        <td mat-footer-cell *matFooterCellDef colspan="100%">
          <strong>{{footer}}</strong>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <ng-container *ngIf="footer"> <!-- Make footer nullable -->
        <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
      </ng-container>
    </table>

    <mat-paginator [pageSizeOptions]="pagination" [pageSize]="pageSize" 
  [ngStyle]="{ 'min-width': + tableMinWidth + 'px' }"></mat-paginator>
  </div>

