table, mat-paginator  {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

mat-icon {
  font-size: 18px;
}

.table-buttons__field{
  min-width:200px;
}